@charset "UTF-8";

/* Paleta de cores
    verde: #49a09d
    lilás: #5f2c82
*/

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; /*para que a borda faça parte da conta de largura, via de regra, a medida da largura é da borda pra dentro*/

    }

    body, html{
        background-color: #5f2c82;
        height: 100vh;
        width: 100vw;
    }

    main{
        height: 100vh;
        width: 100vw;
        position: relative;
    }

    section#login{
        background-color: white;
        width: 280px;
        height: 500px;
        border-radius: 20px;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        
        overflow: hidden; /* significa que tudo q estiver fora da borda será cortado */
        box-shadow: 0px 0px 10px black;

        transition: width 0.3s, height .3s; /* animação qdo aumenta e diminui a tela */
        transition-timing-function: ease; /* dá uma suavizada qdo ocorre a transição pra tela grande e pequena */
    }

    section#login > div#imagem {
        background: #5f2c82 url(../imagens/pexels-александр-нечунаев-9888046.jpg) no-repeat;
        height: 200px;
        position: bottom bottom;
        display: block; /* visualmente não muda nada */
        
    }

    section#login > div#formulario {
        padding: 10px;
        display: block;
    }

    div#formulario > h1 {
        text-align: center;
        margin-bottom: 10px;
    }

    div#formulario > p {
        font-size: .8em;
    }

    form > div.campo{
        background-color: #5f2c82;
        width: 100%;
        display: block;
        height: 40px;
        border-radius: 5px;
        margin: 5px 0px; /* as margens de cima e de baixo 5px , e a da direita e esquerda 0px */

    }
    div.campo > label {
        display: none; /* para que as etiquetas login e senha não apareçam */
    }

    form > input[type=submit]{
        display: block; /* para que ocupe a linha inteira*/
        font-size: 1em;
        width: 100%; /* não pode ser 100vw, pq vw é da largura total da pagina e 100% é da largura do conteiner, do formulario , da div */
        height: 40px;
        background-color:#49a09d ;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer; /* vira uma maozinha */
    }

    form > input[type=submit]:hover{
        background-color: #1c4646;
    }

    form > a.botao {
        display: block;
        text-align: center;
        font-size: 1em;
        width: 100%;
        height: 40px;
        background-color: #8aa7a6;
        color:white;
        border: 1px solid #8aa7a6;
        border-radius: 5px;
        text-decoration: none;
        padding-top: 7px;
        margin-top: 5px;
    }
    form > a.botao:hover{
        background-color: #3c4949;
    }

    form > a.botao > span {
        font-size: 0.8em;
    }
